# Copy to ops/deploy/local-smoke.env lalu build image lokal dengan:
# sh ./scripts/deploy/build-images.sh ops/deploy/local-smoke.env
# lalu deploy dengan:
# sh ./scripts/deploy/deploy.sh local ops/deploy/local-smoke.env

COMPOSE_PROJECT_NAME=bidanapp-local-smoke
APP_ENV=development
APP_VERSION=local-smoke
BACKEND_IMAGE=bidanapp-backend:local
FRONTEND_IMAGE=bidanapp-frontend:local
BACKEND_PORT=18080
FRONTEND_PORT=13000
PUBLIC_SITE_URL=http://localhost:13000
PUBLIC_API_BASE_URL=http://localhost:18080/api/v1
NEXT_PUBLIC_ADMIN_CONSOLE_ENABLED=true
NEXT_PUBLIC_ADMIN_STUDIO_ENABLED=true
NEXT_PUBLIC_WEB_PUSH_PUBLIC_KEY=BKCUsVMVslL6ZCW0Ovi5CS3FvixYggrwccxsiUsGSH6p3yKs8q4x-kdGSQg0WT57KzE6c4eidWUmDBfhO0L9XKo
POSTGRES_DB=bidanapp_local_smoke
POSTGRES_PORT=15432
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
DATABASE_URL=postgres://postgres:postgres@postgres:5432/bidanapp_local_smoke?sslmode=disable
REDIS_URL=redis://redis:6379/0
CORS_ALLOWED_ORIGINS=http://localhost:13000
AUTH_COOKIE_DOMAIN=
AUTH_COOKIE_PATH=/api/v1
AUTH_COOKIE_SECURE=false
AUTH_COOKIE_SAME_SITE=lax
ADMIN_AUTH_COOKIE_NAME=bidanapp_admin_session
CUSTOMER_AUTH_COOKIE_NAME=bidanapp_customer_session
PROFESSIONAL_AUTH_COOKIE_NAME=bidanapp_professional_session
AUTH_RATE_LIMIT_WINDOW=5m
AUTH_RATE_LIMIT_MAX_ATTEMPTS=10
ADMIN_AUTH_SESSION_TTL=24h
CUSTOMER_AUTH_SESSION_TTL=24h
PROFESSIONAL_AUTH_SESSION_TTL=24h
PAYMENT_PROVIDER=manual_test
PAYMENT_CURRENCY=IDR
XENDIT_SECRET_KEY=
XENDIT_WEBHOOK_TOKEN=
WEB_PUSH_SUBJECT=mailto:local-smoke@bidanapp.test
WEB_PUSH_PUBLIC_KEY=BKCUsVMVslL6ZCW0Ovi5CS3FvixYggrwccxsiUsGSH6p3yKs8q4x-kdGSQg0WT57KzE6c4eidWUmDBfhO0L9XKo
WEB_PUSH_PRIVATE_KEY=pRduhGoxrtEMwZNZzG7oBRlLqNvjBikKOCP_FphZY3o
LOG_LEVEL=info
LOG_FORMAT=json
